.button p {
  background: var(--primary-color);
  padding: 5px 15px;
  color: white;
  font-size: 25px;
  font-weight: 400;
  z-index: 3;
  position: relative;
}

.button-decorativ {
  border: 1.5px solid var(--darker, #562612);
  height: 43px;
  position: relative;
  transition: 0.2s;
}

.button .button-decorativ:first-of-type {
  top: -47px;
  left: -5px;
  z-index: 4;
}

.button .button-decorativ:last-of-type {
  top: -80px;
  left: 5px;
}

.button {
  height: 40px;
  margin: 5px;
  background: yellow;
}

.button:hover {
  .button-decorativ:first-of-type {
    top: -42;
    left: 0;
  }
  .button-decorativ:last-of-type {
    top: -85px;
    left: 0;
  }
}

.button-decorativ-container {
  height: 0px;
}
