.button p {
  background: var(--primary-color);
  padding: 5px 15px;
  color: white;
  font-size: 25px;
  font-weight: 400;
}

.button-decorativ {
  border: 1.5px solid var(--darker, #562612);
  height: 40px;
  position: relative;
}

.button {
  display: flex;
  flex-direction: column;
  height: 40px;
}
