.nav,
.nav-secondary {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
}

.nav-secondary svg {
  height: 20px;
}

.nav-connect-container {
  display: flex;
  gap: 10px;
}

.nav-secondary svg path {
  fill: var(--darker-color);
}

.nav-decorativ div {
  height: 30px;
  border: 1.5px solid var(--darker-color);
  position: relative;
  top: -25px;
  width: 125%;
  margin-left: -10%;
}

.nav-decorativ {
  height: 0px;
  transition: 0.2s;
}

.nav-secondary svg + .nav-decorativ div {
  top: -30px;
}

.nav-decorativ {
  opacity: 0;
}

.nav a:hover .nav-decorativ,
.nav-secondary a:hover .nav-decorativ {
  opacity: 1;
  transform: rotatez(-3deg);
}

.nav-contain {
  background: rgb(255, 255, 255);
  position: fixed;
  width: 100%;
  z-index: 100;
}

.nav-space {
  height: 75px;
}
