.products-container {
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
}

.product-background {
  background: #fdefce;
  display: flex;
  flex-direction: column;
  height: 730px;
  justify-content: space-between;
  position: absolute;
  z-index: -10;
  top: 1890px;
}

.products-hero {
  background-image: url(../img/background-product-hero.svg);
  width: 769px;
  height: 805px;
  padding: 55px 80px 28px 60px;
  display: flex;
  flex-direction: column;
  position: relative;
  top: -155px;
  align-items: flex-end;
}

.product-arrow-container {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  padding-top: 240px;
  align-self: stretch;
}

.product-hero {
  left: 35%;
  position: relative;
  margin-top: -100px;
  left: -20px;
  transform: rotate(15.265deg);
  filter: drop-shadow(100px -42px 0 var(--secondary-color));
  img {
    height: 735px;
  }
}

.product {
  transition: 0.5s;
  left: 0;
  img {
    transition: 0.5s;
  }
}

.product-other {
  position: relative;
  filter: drop-shadow(32px -22px 0 white);
  img {
    height: 515px;
  }
}

.product-carouzel {
  display: flex;
  height: 0px;
  justify-content: space-between;
  position: relative;
  top: 40px;
}

.product-carouzel div {
  z-index: 10;
}

.product-1.product-hero {
  left: 548px;
}

.product-1.product-other-right {
  left: 1155px;
}

.product-3.product-hero {
  left: -548px;
}

.product-3.product-other-left {
  left: -1155px;
}

.product-2.product-other-left {
  left: -548px;
}

.product-2.product-other-right {
  left: 608px;
}

.product-1.product-hero + div.product-other-left {
  left: -608px;
}

.product-1.product-hero + div.product-other-right {
  left: 548px;
}

.products-arrow-left,
.products-arrow-right {
  position: relative;
  transition: 0.2s;
  left: 0;
  padding: 10px;
}

.products-arrow-left {
  left: -10px;
}

.products-arrow-right {
  left: 10px;
}

.products-arrow-left:hover {
  padding: 10px 20px 10px 0;
}

.products-arrow-right:hover {
  padding: 10px 0 10px 20px;
}

.product-hidden {
  display: none;
}
