.product-info-bottom {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.product-info-bottom p {
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-info-gluten p {
  background-image: url(../img/background-sans-gluten.svg);
  width: 156px;
  height: 28px;
}

.product-info-bottom p:nth-child(2) {
  background-image: url(../img/baclground-bio.svg);
  height: 27px;
  width: 74px;
}

.product-info-bottom p:nth-child(3) {
  background-image: url(../img/background-sans-alcool.svg);
  width: 155px;
  height: 28px;
}

.product-info-bottom p:nth-child(4) {
  background-image: url(../img/background-local.svg);
  width: 229px;
  height: 25px;
}

.product-info-top p {
  font-family: "Cinzel", serif;
  opacity: 0.8;
  font-size: 20px;
  padding-top: 5px;
}

.product-info-top {
  align-self: flex-start;
}
